In [1]:
# list-----------------------

In [2]:
my_list = [10,20,30,'Neeraj']
print(len(my_list))

4

In [3]:
my_list = [10,20,30,'Neeraj']
print(max(my_list))

TypeError: '>' not supported between instances of 'str' and 'int'

In [4]:
my_list = [10,20,30]
print(max(my_list))

30

In [5]:
my_list = ['neeraj','raj','rahul','vishnu']
print(max(my_list))

vishnu

In [7]:
my_list = [10,20,30]
print(min(my_list))

10

In [10]:
my_list = ['neeraj','raj','rahul','vishnu','nea']
print(min(my_list))

nea

In [11]:
my_list = [10,20,30,'Neeraj']
print(type(my_list))

<class 'list'>

In [12]:
my_list = [10,20,30,'Neeraj']
print(id(my_list))

1461115536384

In [ ]:
# methods------------------

In [13]:
my_list = [10,20,30,'Neeraj']
my_list.append(50)
print(my_list)

[10, 20, 30, 'Neeraj', 50]

In [14]:
my_list = [10,20,30,'Neeraj']
my_list.append('Rahul')
print(my_list)

[10, 20, 30, 'Neeraj', 'Rahul']

In [16]:
my_list = [10,20,30,'Neeraj']
my_list.extend([10,20,30,40,50,'arhul'])
print(my_list)

[10, 20, 30, 'Neeraj', 10, 20, 30, 40, 50, 'arhul']

In [17]:
my_list = [10,20,30,'Neeraj']
my_list.append([10,20,30,40,50,'arhul'])
print(my_list)

[10, 20, 30, 'Neeraj', [10, 20, 30, 40, 50, 'arhul']]

In [18]:
my_list = [10,20,30,'Neeraj']
my_list.insert(0,[10,20,30,40,50,'arhul'])
print(my_list)

[[10, 20, 30, 40, 50, 'arhul'], 10, 20, 30, 'Neeraj']

In [19]:
my_list = [10,20,30,'Neeraj']
my_list.insert(1,[10,20,30,40,50,'arhul'])
print(my_list)

[10, [10, 20, 30, 40, 50, 'arhul'], 20, 30, 'Neeraj']